@mixin opacity-prev {
		-moz-transition-property: opacity;
		-moz-transition-duration: 0.2s;
		-moz-transition-timing-function: ease-out;
		-o-transition-property: opacity;
		-o-transition-duration: 0.2s;
		-webkit-transition-property: opacity;
		-webkit-transition-duration: 0.2s;
	}

	@mixin word-break {
		-ms-word-break:break-word;
		word-break:break-word;
		-webkit-hyphens:auto;
		-moz-hyphens:auto;
		hyphens:auto;
		-webkit-hyphenate-before:1;
		-webkit-hyphenate-after:1;
		hyphenate-lines:1;
	}

	@mixin margin-middle {
		margin-left: auto;
		margin-right: auto;
	}